.button-top {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--color-primary-dark);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: var(--color-text);
}

.button-top:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: var(--color-primary-soft);
  align-items: center;
}

.button-top:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button-top::before {
  position: absolute;
  bottom: -20px;
  content: "Na górę";
  color: var(--color-text);
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button-top:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
