

.p-hero-footer {
  margin-top: 1.5rem;
  font-size: 1.15rem;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  color: #f3f9ff;
  opacity: 0.9;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.25);
}
.section-gradient1 {
  padding: calc(2rem + (4 - 2) * ((100vw - 320px) / (1920 - 320)))
    calc(0.4rem + (0.5 - 0.4) * ((100vw - 320px) / (1920 - 320)));
  
  background: var(--gradient-main);
  color: var(--dark-blue);
  border-radius: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));
  box-shadow: var(--shadow-lg);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* Псевдоэлемент с картинкой */
.section-gradient1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/images/hero.png');
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* Регулируйте прозрачность */
  z-index: -1;
  
  /* Осветляем картинку */
  filter: brightness(1.2) contrast(0.9) saturate(0.8);
  
  /* Добавляем градиент поверх картинки */
  background-blend-mode: overlay;
}
.p-section1 {
  font-size: calc(1rem + (1.25 - 1) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  line-height: calc(1.5 + (1.7 - 1.5) * ((100vw - 320px) / (1920 - 320)));
  padding: calc(0.9rem + (1.4 - 0.9) * ((100vw - 320px) / (1920 - 320)))
    calc(1.1rem + (1.8 - 1.1) * ((100vw - 320px) / (1920 - 320)));
  border-radius: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
  box-shadow: var(--shadow-md);
  color: var(--dark-blue);
  background-color: var(--color-primary-soft);
  text-shadow: var(--text-shadow-heavy);

}