.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  background: var(--color-bg-soft);
  margin-top: 1rem;
  border-radius: 0.4rem;
  box-shadow: var(--shadow-md);
  text-shadow: var(--text-shadow-heavy);
  border-top: 1px solid var(--color-primary-soft);
}
 