/* ===== Burger button ===== */
.burger {
  width: 42px;
  height: 42px;

  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 6px;

  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  width: 100%;
  height: 4px;
  background: var(--color-primary);
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* крестик */
.burger.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* ===== Mobile menu ===== */
.mobile-menu {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  font-size: 32px;
  z-index: 1000; /* ВАЖНО */

  background: rgba(20, 42, 58, 0.6);
  backdrop-filter: blur(18px);

  border-radius: 16px;
  padding: 1.5rem;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);

  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
  transition: 0.3s ease;
}

.mobile-menu a {
  position: relative; /* ОБЯЗАТЕЛЬНО */
  color: var(--color-primary-soft);
  font-weight: 600;
  text-decoration: none;
}

/* линия */
.mobile-menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0;
  height: 2px;

  background: var(--color-primary);
  box-shadow: 0 0 4px var(--color-primary),
              0 0 8px var(--color-primary-light);

  transition: width 0.35s ease, box-shadow 0.35s ease;
  border-radius: 2px;
}

/* hover */
.mobile-menu a:hover::after {
  width: 100%;
  box-shadow: 0 0 8px var(--color-primary),
              0 0 16px var(--color-primary-light);
}

.mobile-menu a:hover {
  color: var(--color-primary);
}

.mobile-menu.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

/* ===== Mobile only ===== */
@media (max-width: 900px) {
  .burger {
    display: flex;
  }

  nav {
    display: none !important;
  }
}
